@import "../base/variable";

main {
    .hero {
        background-color: nth($colores, 5);
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: calc(100vh - 114px);
        @include flex (flex, center, center);
        p {
            color: nth($colores, 2);
            font-size: nth($font-size, 3);
            @include font ('montserrat' sans-serif, normal, 400, center);
            margin-top: 96px;
            span {
                color: nth($colores, 5);
            }
        }
    }
    .filosofia {
        border-bottom: nth($colores, 5) solid 1px;
        @include flex (flex, center, center);
        flex-direction: column;
        align-items: center;
        padding: 180px 160px;
        h2 {
            @include font ('montserrat' sans-serif, medium, 500, center);
            font-size: nth($font-size, 1);
            text-transform: uppercase;
            color: nth($colores, 1);
        }
        p {
            @include font ('montserrat' sans-serif, normal, 400, center);
            font-size: nth($font-size, 5);
            line-height: 50px;
            color: nth($colores, 4);
        }
    }  
    .proyectos {
        div{
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        div{
            h2 {
                @include font ('montserrat' sans-serif, medium, 500, left);
                font-size: nth($font-size, 1);
                text-transform: uppercase;
                color: nth($colores, 1);
            }
            h3 {
                @include font ('montserrat' sans-serif, normal, 400, left);
                font-size: nth($font-size, 5);
                color: nth($colores, 4);
            }
            p {
                @include font ('montserrat' sans-serif, normal, 400, left);
                font-size: nth($font-size, 2);
                color: nth($colores, 1);
                margin: 24px 0;
            }
            a {
                @extend %boton;
            }
        }
    }
    .concepto {
        @include flex (flex, center, center);
        border-bottom: nth($colores, 5) solid 1px;
        padding: 120px 160px 80px 160px;
        div{
            h2 {
                @include font ('montserrat' sans-serif, medium, 500, center);
                font-size: nth($font-size, 1);
                text-transform: uppercase;
                color: nth($colores, 1);
            }
            p {
                @include font ('montserrat' sans-serif, normal, 400, center);
                font-size: nth($font-size, 5);
                line-height: 50px;
                color: nth($colores, 4);
                span {
                    color: nth($colores, 2);
                    font-style: italic;
                }
            }
        }
    } 
    .servicios {
        @include flex (flex, space-around, center);
        text-align: center;
        padding: 80px 64px 120px 64px;
        div {
            h4 {
                @include font ('montserrat' sans-serif, medium, 500, center);
                font-size: nth($font-size, 4);
                color: nth($colores, 4);
                &:hover {
                    color: nth($colores, 2);
                }
            }
            ul{
                li {
                    text-decoration: none;
                    list-style: none;
                    @include font ('montserrat' sans-serif, normal, 400, center);
                    font-size: nth($font-size, 2);
                    color: nth($colores, 1);
                    padding: 24px 0;
                    transition: 1seg;
                    &:hover {
                        transform: scale(1.1);
                    }
                }             
            }
        }
    }
    .quienesSomos {
        background-color: nth($colores, 5);
        background-position: center;
        width: 100%;
        @include flex (flex, center, center);
        flex-direction: column;
        padding: 120px 160px;
        div {
            padding: 32px 8px;
            h2 {
                @include font ('montserrat' sans-serif, medium, 500, center);
                font-size: nth($font-size, 5);
                color: nth($colores, 4);
                padding: 16px;
            }
            p {
                @include font ('montserrat' sans-serif, normal, 400, center);
                font-size: nth($font-size, 3);
                line-height: 34px;
                color: nth($colores, 1);
            }
        }
        div {
            a{
                @extend %boton;
            }
        }
    }
}